{{#each users}}
                    {{#if this.role}} 
                        <option value="{{this.id}}"  {{#if this.active}}disabled{{/if}}>{{this.name}}</option>
                     {{/if}}   {{/each}}
